[submodule "semanticcms-openfile-servlet"]
	path = semanticcms-openfile-servlet
	url = git@github.com:aoindustries/semanticcms-openfile-servlet.git
[submodule "semanticcms-openfile-taglib"]
	path = semanticcms-openfile-taglib
	url = git@github.com:aoindustries/semanticcms-openfile-taglib.git
[submodule "semanticcms-openfile-all"]
	path = semanticcms-openfile-all
	url = git@github.com:aoindustries/semanticcms-openfile-all.git
